.divEquipe {

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: "Share", Sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: var(--white);
    }
}

.grid {
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;

}