.backgroundImage {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.containerHome {
    margin-top: -5rem;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-color: red;

    h1 {
        width: 300px;
        margin-left: 150px;
        color: var(--white);
        font-family: 'Share';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 56px;

    }

    img {
        margin-right: 250px;
        width: 350px;
        height: 350px;

    }
}

.containerCentralized {

    margin: auto;
    width: 80%;

}


//section projetos

.sectionProjetos {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h1 {
        color: var(--white);
        margin-bottom: 2rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

//section sobrenos

.h1SobreNos {
    color: var(--white);
    text-align: center;
}

.divsobrenos {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;

    strong {
        width: 350px;
        margin-top: 2rem;

        font-family: 'Share';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;

        color: var(--white)
    }
}