.headerContainer {
    position: fixed;

    left: 0;
    width: 100%;

}

.headerContent {
    background-color: rgba(17, 17, 17, 0.618);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;

    img {
        cursor: pointer;
    }

}

.menuNav {
    display: flex;
    align-items: center;

    a {
        color: var(--white);
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
        transition: color 0.7s;

        &+a {
            margin-left: 2rem;
        }

        &:hover {
            color: var(--red-900)
        }
    }


}