.Card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #000000;
    border: 1px solid #4D4C4C;
    border-style: solid;
    border-color: red;
   
}

.divImage {
    height: 50%;
   
    img{
       width: 100%;
       height: 100%;
       object-fit: fill;
    }
}
.CardInfo {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem ;
    /*font-bolt text-white block*/
    strong {
        margin-bottom: 1rem;
        font-family: 'Kodchasan';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 32px;
        color: var(--white);
    }

    /*text-zinc-300 text-sm block*/
    span {
        margin-bottom: 1rem;
        font-family: 'Kodchasan';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: var(--white);
    }

    
}

.CardButton{
    

    button {
        color: var(--white);
        width: 50%;
        color: black;
        padding: 1rem 2rem;
        background-color: var(--red);
    }
}