.Card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: #000000;
    border: 1px solid #4D4C4C;
}

.divImage {

    position: relative;
    width: 100%;
    height: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.CardInfo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;

    /*font-bolt text-white block*/
    strong {
        margin-bottom: 1rem;
        font-family: 'Kodchasan';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 32px;
        color: var(--white);
    }

    /*text-zinc-300 text-sm block*/
    span {
        margin-bottom: 1rem;
        font-family: 'Kodchasan';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        color: var(--white);
    }


}

.CardButton {

    color: var(--white);

    background-color: var(--red);

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        text-decoration: none;
        color: #fff;

        font-family: 'Mina';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    }
}