.divMain {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 5px;

    h1 {
        width: 300px;
        color: #9fa0a3;
        font-family: 'Share';
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 56px;

    }


}