//contato

.divcontato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        font-family: "Share", Sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: var(--white);
    }
}


.form {

    display: flex;
    flex-direction: column;
    width: 100%;


    textarea {
        width: 100%;
        min-height: 220px;
        resize: none;
        padding: 0.5rem;
    }



}

.divinput {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        gap: 5px;
    }
}

.input {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    height: 80px;
    padding: 0 0.5rem;
}

.buttonEnviar {
    border-radius: 0.3rem;
    width: 200px;
    height: 50px;
    border: 0;
    background-color: var(--red);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--white)
}